<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
      <div id="app">
        <ul>
          <li v-for="(fruit, index) in fruits">{{ fruit }}、{{ index + 1 }}番目</li>
        </ul>
        <ul>
          <!-- v-forでオブジェクトを使用する場合は、表示の順番は保証されない。
          なんで、そこを気にする場合は、配列を使用する。 -->
          <li v-for="value in object">{{ value }}</li>
        </ul>
      </div>


      <script src="vue.js"></script>
      <script src="js/main.js"></script>
  </body>
</html>
